 @import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
 
 * {
 	margin: 0px;
 	padding: 0 auto;
 }
 
 html {
 	background: url('../img/bg.jpg') no-repeat center center fixed;
 	/* css3 property check for compatibility */
 	background-size: cover;
 }

 body {
     font-family: 'Kaushan Script', cursive;
 }
 
 div.container {
     width: 900px;
     margin: 0 auto;
 }
 
 div.polaroid {
     width: 240px;
     display: inline-block;
     margin: 20px;
     /* if any child is absolutely positioned, make me the reference */
     position: relative;
 }
 
 .polaroid img {
     width: 100%;
     height: auto;
     border: 10px solid cornsilk;
     border-bottom-width: 45px;
     /* css3 property be sure to check for prefixes and compatibility */
     /* box- shadow: x shadow | y shadow | blur | spread | color; */
     /* chrome and safari older versions */
     -webkit-box-shadow: 10px 10px 10px 5px rgba(10, 10, 10, 0.5);
     /* firefox */
     -moz-box-shadow: 10px 10px 10px 5px rgba(10, 10, 10, 0.5);
     /* microsoft */
     -ms-box-shadow: 10px 10px 10px 5px rgba(10, 10, 10, 0.5);
     /* opera */
     -o--ms-box-shadow: 10px 10px 10px 5px rgba(10, 10, 10, 0.5);
     box-shadow: 10px 10px 10px 5px rgba(150, 150, 150, 0.5);
 }
 
 .polaroid p {
     position: absolute;
     text-align: center;
     width: 260px;
     bottom: 14px;
     color: #888;
 }